* {
    margin: 0;
    padding: 0;
}

.reviewpage {
    background-color: rgb(44, 42, 42);
    background-size: cover;
    width: 100%;
    position: relative
}

.reviews {
    position: relative;
    width: 100%;
    display: none;
    text-align: center;
    color: white;
    font-size: 20px;
    height: 130vh;
    padding-top: 15%;
    font-weight: 200;
}

.icon {
    display: flex;
    gap: 800px;
    margin-top: 30%;
    margin-left: 23%;
    position: absolute;
    z-index: 2;
}

.navbar {
    color: white;
    position: absolute;
    margin-top: -38%;
    display: flex;
    border: 2px;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    width: 40%;
    margin-left: 30%;


}

.navbar a {
    color: gray;
    text-decoration: none;


}

.insidebar {
    margin-left: 10%;
    display: flex;
    gap: 25px;
}

.insidebar button {
    background-color: black;
    color: white;

}

#reservation {
    border: 2px;
    padding: 20px;
    background-color: darkgray;
    border-radius: 20px;
}


body {
    overflow: hidden;
}

#left-quote {

    font-size: 50px;
    top: 60%;
    left: 80%;
    position: absolute;
    color: red;
}

#right-quote {

    margin-top: 17%;
    font-size: 50px;
    position: absolute;
    margin-left: 19%;
    z-index: 2;
    color: red;
}

.logo {
    margin-top: 2%;
    margin-left: 43%;
    position: absolute;
    z-index: 2;
}

.navigation a:hover {
    padding: 5px;
    background-color: rgb(114, 111, 111);
}